# Core
numpy
pandas
tqdm
requests
beautifulsoup4
lxml
tiktoken
nltk

# Language detector
lingua-language-detector

# Embedding model
sentence-transformers

# Vector search
chromadb     

# Optional: hybrid search
rank_bm25

# JSON utils
orjson
